<h3>アーティスト一覧</h3>

<!-- 検索バー -->
<div>
  <%= search_form_for @search do |f| %>
    <%= f.search_field :name_cont, placeholder: 'アーティスト名で検索' %>
    <%= f.submit ("検索") , class: 'd-btn'%>
  <% end %>
</div>

<!-- 一覧表示 -->
<div>
  <% @search_artists.each do |artist| %>
    <div class="thumbnail-contents">
      <%= attachment_image_tag artist, :image, :fill, 100, 100 %>
      <%= artist.name %>
    </div>
  <% end %>
  <%= paginate @search_artists, class: "paginate" %>
</div>