<h3>アーティスト一覧
  <% if manager_signed_in? %>
    <%= link_to "新規追加", new_artist_path, class:"d-btn btn btn-default new-btn artist-new" %>
  <% end %>
</h3>

<div class="center-block">
  <!-- 検索バー -->
  <%= search_form_for @search do |f| %>
    <%= f.search_field :name_cont, placeholder: 'アーティスト名で検索' %>
    <%= f.submit ("検索") , class: 'd-btn'%>
  <% end %>
  <!-- 一覧表示 -->
  <div class="center-block-artists">
    <% @search_artists.each do |artist| %>
      <div class="thumbnail-contents">
        <div class="item-box2">
          <%= link_to artist_path(artist.id) do %>
            <%= attachment_image_tag artist, :image, :fill, 400, 400, class:"contents-item" %>
          <% end %>
          <br>
          <div class="artist-profile"><font size="4"><%= link_to artist.name, artist_path(artist.id) %></font></div>
        </div>

      </div>
    <% end %>
    <%= paginate @search_artists, class: "paginate" %>
  </div>
</div>