
<h3>アーティスト新規追加</h3>
<table>
  <%= form_for(@artist) do |f| %>
    <tr>
      <td>アーティスト名</td>
      <td><%= f.text_field :name, placeholder:"アーティスト名" %></td>
    </tr>

    <tr>
      <td>アーティスト名(カナ)</td>
      <td><%= f.text_field :name_kana, placeholder:"アーティスト名(カナ)" %></td>
    </tr>

    <tr>
      <td>アーティスト紹介</td>
      <td><%= f.text_area :intro, placeholder:"アーティスト紹介" %></td>
    </tr>

    <tr>
      <td>アーティスト写真</td>
      <td><%= f.attachment_field :image %></td>
    </tr>

    <tr>
      <td colspan="2">
        <%= link_to '戻る', artists_path, class:"d-btn" %> <%= f.submit '保存' %>
      </td>
    </tr>

  <% end %>
</table>