<h3>アーティスト詳細</h3>

<div class="artist-title">
  <span class="artist-name">
    <%= @artist.name %>
  </span>

  <% if user_signed_in? %>

    <% if @artist.followed_by?(current_user) %>
      <%= link_to artist_following_artists_path(@artist), method: :delete do %>
        <span class="d-btn follow-btn">フォローを外す</span>
      <% end %>

    <% else %>
      <%= link_to artist_following_artists_path(@artist), method: :post do %>
        <span class="d-btn follow-btn">フォローする</span>
      <% end %>
    <% end %>

  <% else manager_signed_in? %>
      <%= link_to edit_artist_path do %><i class="fas fa-cogs edit-btn"></i><% end %>
  <% end %>
</div>

<p><%= attachment_image_tag @artist, :image, :fill, 300, 300 %></p>
<p><%= @artist.intro %></p>

<h4 class="artist-show-item">CD情報
  <% if manager_signed_in? %>
    <%= link_to "新規追加", new_item_path(@artist.id), class:"d-btn new-btn" %>
  <% end %></h4>
<% @items.each do |item| %>
  <div class="thumbnail-contents">
    <%= attachment_image_tag item, :image, :fill, 100, 100 %>
    <%= item.artist.name %>
    <%= item.title %>
    <%= item.price %>
    <% if item.stock == 0 %>
      <span>売切</span>
    <% end %>
  </div>
<% end %>

<h4 class="artist-show-item">イベント情報
  <% if manager_signed_in? %>
    <%= link_to 'イベント追加', new_event_path(@artist.id), class:"d-btn new-btn" %>
  <% end %>
</h4>

<table class="table">
  <% @events.each do |event| %>
    <tr>
      <td><%= event.datetime %></td>
      <td><%= event.name %></td>
    </tr>
  <% end %>
</table>