<div class="form">
  <div class="form-header">
    <h3>ログイン</h3>
  </div>
  <div class="form-area">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "パスワード" %></td>
        </tr>
    </table>
  </div>
  <div class="form-footer">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
    <p><%= link_to '会員登録へ', new_user_registration_path, class:"btn btn-default" %></p>
  </div>

<% end %>
</div>