<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h3>受注ステータス</h3>
	<div>
		<div><%= @history.creared_at %>/<%= @history.user_id %></div>
		<div>ステータス</div>
		<div>
			<table>
        		<% @history_cart_historise_items.each do |cart_historise_items| %>
	    			<tr><%= cart_historise_items.title %></tr>
	    			<tr><%= cart_historise_items.amount %></tr>
	    			<tr><% cart_historise_items.price %></tr><!-- 単価は、非表示 -->
	    			<!-- 小計の計算 -->
	    			<tr><p>小計</p>￥小計金額（計算）</tr>
        		<% end %>
        	</table>
        	<div>
        		<table>
        			<tr>お買い物合計金額（税込）</tr>
        			<tr>￥合計金額（計算）</tr>
        		</table>
        		<%= @history.payment_id %>
        	</div>
    		<div>
    			<table>
    				<th>送付先</th>
    				<th><%= @history.address %></th>
    			</table>
    		</div>
		</div>
	</div>
	<div>
		<!-- ステータス更新ボタン -->
	</div>
</body>
</html>
