<h3>会員一覧</h3>

<div class="searchbox center-block">
	<%= search_form_for @search do |f| %>
	<%= f.text_field :name_cont ,placeholder: '会員名' %>
	<%= f.submit ("検索") , class: 'd-btn' %>
	<% end %>
</div>

<div class="center-block">
	<table border="1" class="user-list">
		<tr bgcolor="#428bca" class="user-index-item">
			<th>名前</th>
			<th>名前（カナ）</th>
		</tr>
		<% @search_users.each do |user| %>
		<tr>
			<th><%= link_to user.name, user_path(user.id) %></th>
			<th><%= user.name_kana %></th>
		</tr>
		<% end %>
	</table>
	<%= paginate @search_users %>
</div>

