<h3>購入履歴</h3>

<div class="center-block">

	<!-- 会員ログインと管理者ログインで画面の構造が異なるので、if分岐で対応します -->
	<!-- 管理者ログイン時 -->
	<% if manager_signed_in? %>

		<div class="searchbox center-block">
			<%= search_form_for @search do |f| %>
				<%= f.text_field :user_name_cont ,placeholder: '会員名' %>
				<%= f.submit ("検索") , class: 'd-btn' %>
			<% end %>
		</div>

		<table border="1">
			<tr>
				<th>ステータス</th>
				<th>受注日(購入日)</th>
				<th>会員名</th>
				<th>総計</th>
			</tr>
			<% @search_histories.each do |history| %>
				<% total_price = 0 %>
				<tr>
					<td><%= history.status_id %></td>
					<td><%= history.created_at %></td>
					<td><%= history.user.name %></td>
					<td>
						<% history.cart_histories.each do |ch| %>
							<% total_price = total_price + ch.price * ch.amount %>
						<% end %>
						<%= total_price %> 円(税込)
					</td>
				</tr>
			<% end %>
		</table>

	<%= paginate @search_histories %>

	<!-- 会員ログイン時 -->
	<% elsif user_signed_in? %>
		<% @histories.each do |history| %>
			<div class="history-box">
				<% total_price = 0 %>
				<div class="purchase-day-tag">
					購入日：<%= simple_time(history.created_at) %>
				</div>
				<!-- ステータス -->

				<div class="purchase-area">
					<table class="inline-table">
						<% history.cart_histories.each do |ch| %>
							<thead>
								<tr>
									<td class="history-title">タイトル</td>
									<td class="history-ratist">アーティスト名</td>
									<td class="history-item">数量</th>
									<td class="history-item">小計</th>
								</tr>
							</thead>
							<tr>
								<th><%= ch.item.title %></th>
								<th><%= ch.item.artist.name %></th>
								<th><%= ch.amount %></th>
								<th><%= sub_total = ch.amount * ch.price %>円</th>
							</tr>
							<% total_price = total_price + sub_total %>
						<% end %>
						<tr>
							<td colspan="3"></td>
							<td>合計金額</td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td>
								<font size="5"><b><%= total_price %> 円</b></font>(税込)
							</td>
						</tr>
					</table>

					<div class="payment-method">
						<p>支払方法</p>
						<!-- 選択した支払い方法の表示 -->
					</div>
					<div class="user-address">
						<p>送付先</p>
						<%= history.address %>
					</div>
				</div>
			</div>
		<% end %>

	<% end %>
</div>