<h3>購入履歴</h3>

<div class="center-block">

	<!-- 会員ログインと管理者ログインで画面の構造が異なるので、if分岐で対応します -->
	<!-- 管理者ログイン時 -->
	<% if manager_signed_in? %>

		<div class="searchbox">
			<%= search_form_for @search do |f| %>
				<%= f.text_field :user_name_cont ,placeholder: '会員名' %>
				<%= f.submit ("検索") , class: 'd-btn' %>
			<% end %>
		</div>

		<div class="">
			<table border="1" class="user-list">
				<tr bgcolor="#428bca" class="user-index-item user-list-height">
					<th class="history-list-item1">ステータス</th>
					<th class="history-list-item2">受注日(購入日)</th>
					<th class="history-list-item3">会員名</th>
					<th class="history-list-item4">総計</th>
				</tr>
				<% @search_histories.each do |history| %>
					<% total_price = 0 %>
					<tr class="user-list-height">
						<td><div class="status-btn"><%= link_to history.status_id_i18n, history_path(history.id), class:"btn btn-primary" %></div></td>
						<td><%= simple_time(history.created_at) %></td>
						<td><%= history.user.name %></td>
						<td>
							<% history.cart_histories.each do |ch| %>
								<% total_price = total_price + ch.price * ch.amount %>
							<% end %>
							<%= total_price %> 円(税込)
						</td>
					</tr>
				<% end %>
			</table>

			<%= paginate @search_histories %>
		</div>

	<!-- 会員ログイン時 -->
	<% elsif user_signed_in? %>
		<% @histories.each do |history| %>
			<div class="history-box">
				<% total_price = 0 %>
				<div class="purchase-day-tag">
					購入日：<%= simple_time(history.created_at) %>
				</div>
				<!-- ステータス -->

				<div class="purchase-area">
					<table class="inline-table">
						<thead>
							<tr>
								<th class="history-title">タイトル</th>
								<th class="history-ratist">アーティスト名</th>
								<th class="history-item">数量</th>
								<th class="history-item">小計</th>
							</tr>
						</thead>
						<% history.cart_histories.each do |ch| %>
							<tr class="user-list-height history-item-info">
								<td><%= ch.item.title %></td>
								<td><%= ch.item.artist.name %></td>
								<td><%= ch.amount %></td>
								<td><%= sub_total = ch.amount * ch.price %>円</td>
							</tr>
							<% total_price = total_price + sub_total %>
						<% end %>
						<tr>
							<td colspan="3"></td>
							<td>合計金額</td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td>
								<font size="5"><b><%= total_price %> 円</b></font>(税込)
							</td>
						</tr>
					</table>

					<div class="payment-method">
						<p>支払方法</p>
						<%= history.payment_id_i18n %>
					</div>
					<div class="user-address">
						<p>送付先</p>
						<%= history.address %>
					</div>
				</div>
			</div>
		<% end %>

	<% end %>
</div>