<h3>購入履歴</h3>



<!-- 会員ログインと管理者ログインで画面の構造が異なるので、if分岐で対応します -->

<% if manager_signed_in? %>

	<div class="searchbox center-block">
		<%= search_form_for @search do |f| %>
			<%= f.text_field :history_user_name_or_history_user_name_kana_cont ,placeholder: '会員名' %>
			<%= f.submit ("検索") , class: 'd-btn' %>
		<% end %>
	</div>

	<div>
	<table border="1">
		<tr>
			<th>ステータス</th>
			<th>受注日(購入日)</th>
			<th>会員名</th>
			<th>総計</th>
		</tr>
		<% @search_histories.each do |history| %>
		<tr>
			<td><%= history.status %></td>
			<td><%= history.created_at %></td>
			<td><%= history.user.name %></td>
			<td>
				<% history.cart_histories.each do |ch| %>
					<% total_price += ch.price * ch.amount %>
				<% end %>
				<%= total_price %> 円(税込)
			</td>
		</tr>
		<% end %>
	</table>
</div>

<%= paginate @search_users %>


<% elsif user_signed_in? %>

	<div class="purchase-day-tag center-block">
		<p>購入日時</p>
	</div>
	<% @histories.each do |history| %>
		<!-- ステータス -->
		<div class="purchase-area">

			<% history.cart_histories.each do |ch| %>
				<table class="inline-table">
					<tbody>
						<tr>
							<td><%= ch.item.title %></td>
							<td><%= ch.artist.name %></td>
							<td><%= ch.amount %></td>
							<td>
								<p>小計</p>
								<% sub_total = ch.amount * ch.price %><%= sub_total %>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>

			<div class="total-price">
				<% history.cart_histories.each do |ch| %>
					<% total_price += ch.price * cd.amount %>
				<% end %>
				<%= total_price %> 円(税込)
			</div>
			<div class="payment-method">
				<%= payment.name %>
			</div>
			<div class="user-address">
				<%= user.address %>
			</div>
		</div>
	<% end %>
<% end %>