<h3>受注ステータス</h3>
<div>
	<div><%= @history.created_at %>/<%= @history.user_id %></div>
	<%= form_for(@history) do |f| %>
	<div class="field">
	  <div class="radio-status">
	    <%= f.radio_button :status_id, :receptionist, checked: true %>受付
	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status_id, :preparation %>準備中
	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status_id, :shipped %>出荷済み
	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status_id, :cancel %>キャンセル
	  </div>
	</div>
		<div>
			<table>
      <% total_price = 0 %>
  		<% @cart_histories.each do |ch| %>
  			<tr>
          <td><%= ch.item.title %></td>
  			  <td><%= ch.amount %></td>
	    		<td>小計:<%= sub_total = ch.amount * ch.price %></td>
          <% total_price = total_price + sub_total %>
        </tr>
  		<% end %>
      </table>
  	<div>
  		<table>
  			<tr>お買い物合計金額（税込）</tr>
  			<tr><% total_price %></tr>
  		</table>
  		<%= @history.payment_id %>
  	</div>
  	<div>
  		<table>
  			<th>送付先</th>
  			<th><%= @history.address %></th>
  		</table>
  	</div>
	</div>
	<%= f.submit "ステータス更新", class:"d-btn" %>
	<% end %>
</div>