<h3>受注ステータス</h3>
<div>
	<div><%= @history.created_at %>/<%= @history.user_id %></div>
	<%= form_for(@history) do |f| %>
	<!-- ステータスのラジオボタン -->
	<div class="field">
	  <div class="radio-status">
	    <%= f.radio_button :status, :receptionist, checked: "checked" %>
	    <%= f.label :status, :receptionist %>

	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status, :preparation, checked: "checked" %>
	    <%= f.label :status, :preparation %>

	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status, :shipped, checked: "checked" %>
	    <%= f.label :status, :shipped %>

	  </div>
	  <div class="radio-status">
	    <%= f.radio_button :status, :cancel, checked: "checked" %>
	    <%= f.label :status, :cancel %>

	  </div>
	</div>
		<div>
			<table>
  		<% @cart_histories.each do |ch| %>
  			<tr>
          <td>%= ch.item.title %></td>
  			  <td><%= ch.amount %></td>
	    			<td>小計:<%= sub_total = ch.amount * ch.price %></td>
        </tr>
  		<% end %>
      </table>
  	<div>
  		<table>
  			<tr>お買い物合計金額（税込）</tr>
  			<tr><%  %></tr>
  		</table>
  		<%= @history.payment_id %>
  	</div>
  	<div>
  		<table>
  			<th>送付先</th>
  			<th><%= @history.address %></th>
  		</table>
  	</div>
	</div>
	<%= f.submit "ステータス更新", class:"d-btn" %>
	<% end %>
</div>