<!-- datetime picker用読込ファイル -->
<!-- CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- JS -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<%= javascript_include_tag 'jquery-ui-timepicker-addon' %>
<%= javascript_include_tag 'jquery-ui-timepicker-ja' %>
<%= stylesheet_link_tag "jquery-ui-timepicker-addon", :media => "all" %>

<div class="event">
  <%= form_for [@artist, @event] do |f| %>
  <div class="event-header">
    <h3>イベント新規追加</h3>
  </div>
  <div class="event-area">
    <table>
        <tr>
          <td class="event-td">イベント名</td>
          <td><%= f.text_field :name, placeholder:"イベント名" %></td>
        </tr>

        <tr>
          <td class="event-td">アーティスト名</td>
          <td><%= @artist.name %></td>
        </tr>

        <tr>
          <td class="event-td">開始日時</td>
          <td><%= f.text_field :datetime, placeholder:"開始日時", id:"datetimepicker" %></td>
        </tr>

        <tr>
          <td class="event-td">イベント紹介文</td>
          <td><%= f.text_area :detail, placeholder:"イベント紹介文"  %></td>
        </tr>
    </table>
  </div>
  <div class="event-footer">
    <%= f.submit '保存', class: "btn btn-primary" %>
    <%= link_to '戻る', artists_path, class: "btn btn-default" %>
  </div>
  <% end %>
</div>