<h3>イベント詳細
	<% if manager_signed_in? %>
      <%= link_to edit_event_path do %><i class="fas fa-cogs edit-btn"></i><% end %>
    <% end %>
</h3>
<div class="center-block">
  <div class="event-show-item">
    <%= attachment_image_tag @artist, :image, :fill, 300, 300 %>
  </div>
  <div class="event-show-item event-show-box2">
    <div class="show-item event-name"><%= @event.name %></div>
    <div class="show-item"><%= @event.datetime %></div>
    <div class="show-item event-detail"><%= @event.detail %></div>
  </div>

  <div class="event-show-item event-show-box3">
    <%= link_to "戻る", artist_path(@event.artist_id), class:"btn btn-primary" %>
  </div>
</div>