<h3>イベント詳細
	<% if manager_signed_in? %>
      <%= link_to edit_event_path do %><i class="fas fa-cogs edit-btn"></i><% end %>
    <% end %>
</h3>

  <div>
    <%= attachment_image_tag @artist, :image, :fill, 300, 300 %>
  </div>
  <div>
    <p><%= @event.name %></p>
    <p><%= @event.artist_id %></p>
    <p><%= @event.datetime %></p>
    <p><%= @event.detail %></p>
  </div>

<%= link_to "戻る", artist_path(@event.artist_id) %>
