<h3>イベント詳細
	<% if manager_signed_in? %>
      <%= link_to edit_event_path do %><i class="fas fa-cogs edit-btn"></i><% end %>
    <% end %>
</h3>
<div class="center-block">
  <div class="event-show-item">
    <%= attachment_image_tag @artist, :image, :fill, 300, 300, class:"event-image" %>
  </div>
  <div class="event-show-item event-show-box2">
    <p class="show-item event-name"><%= @event.name %></p>
    <p class="show-item"><%= simple_time(@event.datetime) %></p>
    <p class="show-item event-detail"><%= @event.detail %></p>
  </div>

  <div class="event-show-box3">
    <div>
      <%= link_to "戻る", artist_path(@artist), class:"btn btn-primary" %>
    </div>
  </div>
</div>