<!--
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
-->

<h3>イベント詳細</h3>
  <div>
    <%= attachment_image_tag @artist, :image, :fill, 300, 300 %>
  </div>
  <div>
    <p><%= @event.name %></p>
    <p><%= @event.artist_id %></p>
    <p><%= @event.datetime %></p>
    <p><%= @event.detail %></p>
  </div>
<%= link_to "戻る", artist_path(@event.artist_id) %>

<!--
</body>
</html>
-->