<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div class="follow-artist">
  <div class= "follow-artist-header">
    <h3>フォローアーティスト一覧</h3>
  </div>
  <div class="container">
    <div class="row">

      <nav class="main-menu">
        <ul class="fartist-menu">
          <div class="col-xs-4">
            <div class="f-list-wrapper">
                <%= render 'following_artists/items', items: @items %>
            </div>
          </div>
        </ul>

        <ul>
           <div class="col-xs-4">
            <div class="f-list-wrapper">
          <% @artists.each do |fartist| %>
              <div class="f-list clearfix" onmouseover="mouseover();" onmouseout="mouseout();">
                <div class="f-list-thumbnail">
                  <%= attachment_image_tag fartist.artist, :image, :fill, 60, 60, fallback: "no_image.png" %>
                </div>
                <%= link_to artist_path(fartist.artist.id) do %>
                  <%= fartist.artist.name %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
        </ul>
        <ul class="fartist-menu">
          <div class="col-xs-4">
        <div class="f-list-wrapper">
            <%= render 'following_artists/events', events: @events %>
        </div>
      </div>
        </ul>
      </nav>

    </div>
  </div>
</div>