<div class="follow-artist">
  <div class= "follow-artist-header">
    <h3>フォローアーティスト一覧</h3>
  </div>
    <div class="row">
      <nav class="follow-nav">
        <ul class="main-menu">
          <li class="artist-title">アーティスト名</li>
          <li>
            
              <%= link_to artist_path(@artist) do %>
                <%= attachment_image_tag @artist, :image, :fill, 60, 60 %>
                <%= @artist.name %>
              <% end %>
            
            <ul class="event-ul">
              <li class="event-list">
                イベント
              </li>
              <% @events.each do |event| %>
                    <%= link_to event_path(event) do %>
                    <li class="event-list">
                      <%= attachment_image_tag event.artist, :image, :fill, 60, 60 %>
                      <%= event.name %>
                    </li>
                    <% end %>
              <% end %>
            </ul>

            <ul class="item-ul">
              <li class="item-list">
                CD
              </li>
                <% @items.each do |item| %>
                    <%= link_to item_path(item) do %>
                    <li class="item-list">
                      <%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "no_image.png"%>
                      <%= item.title %>
                    </li>
                    <% end %>
                <% end %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
