<h3>カート内容確認</h3>

<div class="center-block cart-item-tag">
  <p>カート内の商品</p>
</div>

<div class="cart-block center-block">
    <div>
      <% total_price = 0 %>
        <% @carts.each do |cart| %>
          <div class="cart-item-box">
            <div class="cart-box">
              <%= attachment_image_tag cart.item , :image, :fill, 250, 250, class:"cart_box", fallback: "no_image.png" %>
            </div>
            <div class="cart-box cart-item">
              <font size="4"><b><%= cart.item.title %></b></font>
              <p><%= cart.item.artist.name %></p>
            </div>
          <div class="cart-box cart-item">
            <p>数量：<%= cart.amount %></p>
            <p>価格：<%= cart.item.price %>円（税込）</p>
          </div>
          <% total_price = total_price + cart.amount * cart.item.price %>
          </div>
        <% end %>
    </div>

    <div class="cart-box2">
      <div class="cart-total">
        お買い物合計金額<br>
        <span class="total-price"><%= total_price %>円</span>（税込）
      </div>
    </div>


    <div class="destination-tag confirm-item">
      <b>送付先</b><br>
      <%= current_user.address %>
    </div>
    <div class="address-box confirm-item">
      <p>※住所を変更する方は、<br>
      マイページから編集をお願い致します。</p>
      <%= link_to "マイページから編集", user_path(current_user), class: 'btn btn-default' %>
    </div>

    <%= form_for(@history) do |f| %>

    <div class="payment-select-box">
      <b>支払方法</b><br>
      <%= f.radio_button :payment_id, :no_choice, checked: true, id:'invisible' %> 
      <%= f.radio_button :payment_id, :credit_card %>クレジットカード 
      <%= f.radio_button :payment_id, :banking %>銀行振込 
      <%= f.radio_button :payment_id, :convenience_store %>コンビニ支払 
      <%= f.radio_button :payment_id, :cash %>代金引換 
    </div>
</div>
<div class="center-block cart-box3">
  <p class="">
    以上の内容で購入します。<br>よろしければ「購入」、<br>内容を変更する場合は「カートに戻る」を<br>クリックしてください。
  </p>
  <div class="cart-btn">
    <%= link_to "カートに戻る",carts_path, class: "btn btn-default" %>
  </div>
  <div class="cart-btn">
    <%= f.submit "購入", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
