<h3>ショッピングカート</h3>

<div class="cart-box">
  <% @carts.each do |cart| %>
  	<%= cart.attachment_tag :image %>
  	<%= cart.title %>

  	<%= form_for(@cart) do |f| %>
  		<p>数量</p><%= f.text_field :amount %>
  		<p>在庫数</p>
  		<p>単価（税込）</p>

  		<%= link_to "削除", carts_path, class: 'btn btn-default' %>
  	<% end %>
  <% end %>
</div>