<h3>ショッピングカート</h3>
<div class="center-block">
  <div class="cart-item-tag">
    <p>カート内の商品</p>
  </div>


  <% total_price = 0 %>
  <% @carts.each do |cart| %>
    <%= form_for(cart) do |f| %>
      <div>
        <div class="cart-box">
          <%= attachment_image_tag cart.item , :image, :fill, 250, 250, class:"cart-box" %>
        </div>
        <div class="cart-area cart-box cart-item">
          <font size="5"><b><%= cart.item.title %></b></font>
            <br>
            <p><%= cart.item.artist.name %></p>
        </div>

        <div class="cart-box cart-item">
          <p>数量 : <%= f.text_field :amount, value:"#{cart.amount}" %></p>
          <p>在庫数 : <%= cart.item.stock %></p>
          <p>単価（税込）: <%= cart.item.price %>円</p>
          <div class="cart-btn"><%= f.submit "更新",class: 'cart-update btn' %></div>
          <div  class="cart-btn"><%= link_to "削除", cart_path(cart), class: 'cart-delete btn', method: :delete %></div>
        </div>
      </div>
      <% sub_total = cart.amount.to_i * cart.item.price.to_i %>
      <% total_price = total_price + sub_total %>
    <% end %>
  <% end %>
  <div class="cart-box2">
    <div class="cart-total">
      お買い物合計金額<br>
      <span class="total-price"><%= total_price %>円</span>（税込）
    </div>

    <div class="buy-button">
      <%= link_to "戻る", :back, class: 'btn btn-default' %>
    </div>
    <div class="buy-button">
      <%= link_to "購入手続きへ進む", carts_confirm_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>