<h3>ショッピングカート</h3>
<div class="center-block">
  <div class="cart-item-tag">
    <p>カート内の商品</p>
  </div>


  <% total_price = 0 %>
  <% @carts.each do |cart| %>
    <%= form_for(cart) do |f| %>
      <div>
        <div class="cart-box">
          <%= attachment_image_tag cart.item , :image, :fill, 400, 400, class:"cart-box" %>
        </div>
        <div class="cart-area cart-box">
          <font size="5"><b><%= cart.item.title %></b></font>
            <br>
            <p><%= cart.item.artist.name %></p>
        </div>

        <div class="cart-box">
          <p>数量 : <%= cart.text_field :amount, value:"#{cart.amount}" %></p>
          <p>在庫数 : <%= cart.item.stock %></p>
          <p>単価（税込）: <%= cart.item.price %> 円</p>
          <p><%= link_to "カートから削除", cart_path(cart), class: 'btn btn-default', method: :delete %></p>
        </div>
      </div>
      <% sub_total = cart.amount.to_i * cart.item.price.to_i %>
      <% total_price = total_price + sub_total %>
      <div class="update-box">
        <%= f.submit "カートの更新",class: 'btn btn-default' %>
      </div>
    <% end %>
    <div class="total-price">
      お買い物合計金額(税込):<%= total_price %>
    </div>

  <div class="buy-button">
    <%= link_to "購入手続きへ進む", carts_confirm_path %>
  </div>
</div>
