<div class="form">
	<div>
		<h3 class="item-header item-area">商品詳細編集</h3>
	</div>
	<div class="item-area">
	<%= form_for(@item) do |f| %>
		<div class="item-table">
			<p>アーティスト名 <%= @item.artist.name %></p>
			<p><%= f.radio_button :type_id, 1 %>アルバム <%= f.radio_button :type_id, 2 %>シングル</p>
			<p>商品タイトル <%= f.text_field :title %></p>
			<p>値段 <%= f.text_field :price %>円(税抜)</p>
			<p>レーベル名 <%= f.collection_select :label_id, Label.all, :id, :name %></p>
			<p>ジャンル <%= f.collection_select :genre_id, Genre.all, :id, :name %></p>

			 <th>ディスク枚数</th>
				<%= f.nested_fields_for :discs do |ff| %>
					<div>
					 	<%= ff.text_field :name, placeholder:"ディスク名" %> / <%= ff.remove_nested_fields_link 'ディスクの削除' %>

						<%= ff.nested_fields_for :musics do |fff| %>
			          		<%= fff.text_field :name, placeholder:"曲名" %> / <%= fff.remove_nested_fields_link '曲の削除', class:"d-btn" %>
			        	<% end %>
			        	<%= ff.add_nested_fields_link :musics, '曲の追加' %>
			        </div>
				<% end %>
					<%= f.add_nested_fields_link :discs, 'ディスクの追加' %>


					<p>在庫数 <p><%= f.text_field :stock, class:"stock-btn" %></p>
					<p>ジャケット画像 <%= f.attachment_field :image %></p>

	</div>
</div>
<div class="form">
	<%= f.submit  "保存", class: "btn btn-primary" %>
	<% end %>
	<%= link_to "戻る", item_path(@item), class: "btn btn-default" %>
</div>