<h3>商品詳細編集</h3>

<% form_for(@user) do |f| %>
<table>
	<tbody>
		<tr>
			<th>アルバム/シングル名</th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<th>値段</th>
			<td><%= f.text_field :price %></td>
		</tr>
		<tr>
			<th>レーベル名</th>
			<td>
				<%= search_form_for user do |f| %>
				<%= f.label :label %>
			</td>
		</tr>
		<tr>
			<th>ディスク枚数</th>
			<td><%= f.text_field : %></td>
		</tr>
		<tr>
			<th>曲名</th>
			<td><%= f.text_field :price %></td>
		</tr>
		<tr>
			<th>在庫数</th>
			<td><%= f.text_field :stock %></td>
		</tr>
		<tr>
			<th>ジャケット画像</th>
			<td><%= f.attachment_field :image %></td>
		</tr>
	</tbody>
</table>

<%= link_to "戻る",item_path, class: "d-inline bg-default" %>
<%= f.submit  "保存",item_path, class: "d-inline bg-default" %>

<% end %>