<h3>商品一覧
  <% if manager_signed_in? %>
    <%= link_to "ジャンル新規追加", new_genre_path, class:"btn btn-default new-btn" %>
    <%= link_to "レーベル新規追加", new_label_path, class:"btn btn-default new-btn" %>
  <% end %>
  </h3>

<div class="center-block">
  <!-- 検索バー -->
  <%= search_form_for @search do |f| %>
    <%= f.search_field :title_or_artist_name_cont ,placeholder: '商品名・アーティスト名で検索' %>
    <%= f.submit ("検索") , class: 'd-btn'%>
  <% end %>
  <!-- 一覧表示 -->
  <div class="center-block-artists">
    <% @search_items.each do |item| %>
      <div class="thumbnail-contents">
        <div class="item-table">
          <%= link_to (item_path(item.id)) do %>
            <%= attachment_image_tag item, :image, :fill ,400, 400, class:"contents-item", fallback: "no_image.png" %>
            <p class="artist-profile"><%= item.title %></p>
          <% end %>
          <p><%= link_to item.artist.name, artist_path(item.artist.id) %></p>
          <div>
            <div class="new-soldout">
                <!-- 日付の比較 -->
                  <% create_day = item.created_at %>
                  <% today = Time.zone.now %>
                  <% compared_parameter = today - 1.day %>
                  <% if compared_parameter < create_day %>
                    <p class="new-item">!NEW!</p>
                  <% elsif item.stock == 0 %>
                    <font color="red"><b>売切</b></font>
                  <% else %>
                    <p>　　　</p>
                  <% end %>
                <!-- 日付の比較ここまで -->
            </div>
            <div class="item-index-price"><%= item.price %>円(税込)</div>
          </div>
        </div>
      </div>
    <% end %>
  <%= paginate @search_items, class: "paginate" %>
  </div>
</div>
