<h3>商品情報の追加</h3>

<div class="center-block">
  <%= form_for [@artist, @item] do |f| %>
    <p>アーティスト名 <%= @artist.name %></p>
    <p><%= f.radio_button :type_id, 1 %>アルバム <%= f.radio_button :type_id, 2 %>シングル</p>
    <p>アルバム・シングル名 <%= f.text_field :title %></p>
    <p>値段 <%= f.text_field :price %>円(税込)</p>
    <p>レーベル名 <%= f.collection_select :label_id, Label.all, :id, :name %></p>
    <p>ジャンル <%= f.collection_select :genre_id, Genre.all, :id, :name %></p>

    <p>ディスク</p>
    <%= f.nested_fields_for :discs do |ff| %>
      <div>

        <p><%= ff.text_field :name, placeholder:"ディスク名" %> / <%= ff.remove_nested_fields_link 'ディスクの削除' %></p>

        <%= ff.nested_fields_for :musics do |fff| %>
          <p><%= fff.text_field :name, placeholder:"曲名" %> / <%= fff.remove_nested_fields_link '曲の削除', class:"d-btn" %></p>
        <% end %>
        <p><%= ff.add_nested_fields_link :musics, '曲の追加' %></p>
      </div>
    <% end %>
    <%= f.add_nested_fields_link :discs, 'ディスクの追加' %></p>


    <p>在庫数 <%= f.text_field :stock %></p>
    <p>ジャケット画像 <%= f.attachment_field :image %></p>
    <p><%= f.submit "追加" %></p>
  <% end %>
</div>