<h3>商品詳細</h3>
<div>
	<div>
		<%= attachment_image_tag @item, :image %>
		<p><%= @item.label.name %></p>
	</div>
	<div>
		<%= @item.type.name %>
		<%= @item.title %>
		<%= @item.artist.name %>
		<%= @item.genre.name %>
	</div>
	<div>
		<%= @item.price %>
		<%= form_for(@cart) do |f| %>
			<%= f.text_field :amount %>
			<%= f.submit 'カートに入れる' %>
		<% end %>
	</div>
	<div>
		<p class="music_list">収録曲</p>
		<% @item.discs.each do |disc| %>
		  <p><%= disc.name %></p>
			<% disc.musics.each_with_index(1) do |music, i| %>
			  <p><%= "#{i}.#{music.name}" %></p>
			<% end %>
		<% end %>
	</div>
</div>
