<h3>商品詳細
	<% if manager_signed_in? %>
		<%= link_to edit_item_path do %>
		<i class="fas fa-cogs edit-btn"></i>
		<% end %>
	<% end %>
</h3>
<div class="center-block">
	<%= attachment_image_tag @item, :image, :fill, 2000, 2000, class:"item-show-item item-img" %>
	<div class="item-show-item item-box1">
		<div class=""><%= @item.label.name %></div>
		<div class=""><%= @item.type.name %></div>
		<div class="item-name">
			<%= @item.title %>
			<!-- 日付の比較 -->
			<% create_day = @item.created_at %>
			<% today = Time.zone.now %>
			<% compared_parameter = today - 1.day %>
			<% if compared_parameter < create_day %>
				<span class="new-item">!NEW!</span>
			<% end %>
			<!-- 日付の比較ここまで -->
		</div>
		<div class=""><%= link_to @item.artist.name, artist_path(@item.artist_id) %></div>
		<div class=""><%= @item.genre.name %></div>
		<div class="item-box2">
			<div>＜収録曲＞</div>
			<% @item.discs.each do |disc| %>
			  <div class=""><%= disc.name %></div>
				<% disc.musics.each_with_index do |music, i| %>
				  <div class=""><%= "#{i+1}.#{music.name}" %></div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="item-show-item item-box3">
		<div class="item-price"><%= @item.price %>円<span class="price-tax">（税込）</span></div>

		<!-- ログイン時、管理者ログイン時、未ログイン時で表示を変える -->
		<% if manager_signed_in? %>
			<% if @item.stock == 0 %>
		    <span>売切</span>
		  <% else %>
				<div class=""><%= @item.stock %></div>
			<% end %>
		<% else %>
			<%= form_for [@item, @cart] do |f| %>
				<% if @item.stock == 0 %>
		    	<span>売切</span>
		    <% else %>
					<div class="item_amount"><%= f.text_field :amount, :size => "5*5" %></div>
					<div class=""><%= f.submit 'カートに入れる' %></div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
