<!DOCTYPE html>
<html>
  <head>
    <title>Follic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- datetime picker用読込ファイル -->
    <!-- CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <%= javascript_include_tag 'jquery-ui-timepicker-addon' %>
    <%= javascript_include_tag 'jquery-ui-timepicker-ja' %>
    <%= stylesheet_link_tag "jquery-ui-timepicker-addon", :media => "all" %>
    <!-- datetime picker用読込ファイルここまで -->

  </head>

  <body>

    <!-- フラッシュメッセージ -->
    <% flash.each do |key, value| %>

      <% if manager_signed_in? %>
        <%= content_tag(:div, "[管理者権限]#{value}", class: "#{key}", id: "flash") %>
      <% else %>
        <%= content_tag(:div, value, class: "#{key}", id: "flash") %>
      <% end %>

    <% end %>
    <!-- フラッシュメッセージ ここまで -->
    <header class="clearfix">
      <% if user_signed_in? %>

      <nav>
        <ul>
          <li>
            <div class="nav-item">
             <%= link_to items_path do %>
              <i class="glyphicon glyphicon-cd"></i><p class="header-name">CD</p>
             <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to artists_path do %>
               <i class="fas fa-users"></i><p class="header-name">アーティスト</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to carts_path do %>
               <i class="fas fa-cart-plus"></i><p class="header-name">カート</p>
             <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item-logo">
              <%= link_to items_path do %>
                <p class="header-name">follic</p>
              <% end %>
            </div>
          </li>
          <li>
           <div class="nav-item">
            <%= link_to following_artists_path do %>
              <i class="fas fa-user-check"></i><p class="header-name">フォローアーティスト</p>
            <% end %>
          </div>
          </li>
          <li>
           <div class="nav-item">
            <%= link_to user_path(current_user.id)  do %>
              <i class="fas fa-user-tag"></i><p class="header-name">マイページ</p>
            <% end %>
           </div>
          </li>
          <li>
           <div class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fas fa-sign-out-alt"></i><p class="header-name">ログアウト</p>
            <% end %>
           </div>
          </li>
        </ul>
      </nav>

      <!-- 管理者権限 -->
      <% elsif manager_signed_in? %>

      <nav>
        <ul>
          <li>
            <div class= "nav-item">
              <%= link_to items_path do %>
                <i class="glyphicon glyphicon-cd"></i><p class="header-name">CD</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to artists_path do %>
                <i class="fas fa-users"></i><p class="header-name">アーティスト</p>
              <% end %>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div class="nav-item-logo">
              <%= link_to items_path do %>
                <p class="header-name">follic</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to users_path do %>
                <i class="far fa-address-card"></i><p class="header-name">会員一覧</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to histories_path do %>
                <i class="far fa-file-alt"></i><p class="header-name">受注一覧</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to destroy_manager_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i><p class="header-name">ログアウト</p>
              <% end %>
            </div>
          </li>
        </ul>
      </nav>
      <!-- 未ログインユーザー -->
      <% else %>

      <nav>
        <ul>
          <li>
            <div class="nav-item">
              <%= link_to items_path do %>
                <i class="glyphicon glyphicon-cd"></i><p class="header-name">CD</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to artists_path do %>
                <i class="fas fa-users"></i><p class="header-name">アーティスト</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to about_path  do %>
                <i class="fas fa-question-circle"></i><p class="header-name">follicとは</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item-logo">
              <%= link_to items_path do %>
                <p class="header-name">follic</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i><p class="header-name">ログイン</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i><p class="header-name">新規登録</p>
              <% end %>
            </div>
          </li>
          <li>
            <div class="nav-item">
            </div>
          </li>
        </ul>
      </nav>

      <% end %>
    </header><!-- /header -->
    <%= yield %>
  </body>
</html>
