<% if devise_error_messages! %>
  <div class="alert">
    <%= devise_error_messages! %>
  </div>
<% end %>

<div class="form">

  <div class="form-header">
    <h3>新規登録</h3>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-area">
    <table>
      <tr>
        <td>名前</td>
        <td><%= f.text_field :name, autofocus: true, autocomplete: "名前" %></td>
      </tr>
      <tr>
        <td>名前(カナ)</td>
        <td><%= f.text_field :name_kana, autofocus: true, autocomplete: "名前(カナ)" %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "郵便番号" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_area :address, autofocus: true, autocomplete: "住所" %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "電話番号" %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "パスワード" %></td>
      </tr>
      <tr>
        <td>パスワード(確認)</td>
        <td><%= f.password_field :password_confirmation, autocomplete: "パスワード(確認)" %></td>
      </tr>
    </table>
  </div>
  <div class="form-footer">
    <%= f.submit "登録", class:"btn btn-primary" %>
    <p><span class="btn btn-default">戻る</span></p>
  </div>
<% end %>
</div>